@page "/orders/"
@model OrdersListModel
@{
    ViewData["Title"] = "Orders";
}

@section styles
    {
    <link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />
}

<div class="types-group">
    <form method="post" id="myDIV">
        @foreach (var ot in Model.OrderTypes)
        {
            if(Model.ActiveOrderTypeId == ot.Id)
            {
                <a asp-page="List" class="type-btn active" asp-route-id="@ot.Id">@ot.Name</a>
                @*<button type="submit" class="type-btn active" asp-page-handler="SelectOrderType" asp-route-id="@ot.Id">@ot.Name</button>*@
            }
            else
            {
                <a asp-page="List" class="type-btn" asp-route-id="@ot.Id">@ot.Name</a>
                @*<button type="submit" class="type-btn" asp-page-handler="SelectOrderType" asp-route-id="@ot.Id">@ot.Name</button>*@
            }
        }
    </form>
</div>
<div class="filter-group">
    <form>
        <input type="text" placeholder="Search for customer, order status or something" />
    </form>
    <button type="submit" class="btn">Search</button>
    <a asp-page="Add" class="btn">Add order</a>
</div>
<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Price</th>
            <th>Status</th>
            <th></th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.CustomerName</td>
                <td>@order.Quantity</td>
                <td>@order.Rate.ToString("#.##")</td>
                <td>@order.Price.ToString("#.##")</td>
                @if (order.IsCompleted)
                {
                    <td class="status success">@order.Status</td>
                }
                else
                {
                    <td class="status not-success">@order.Status</td>
                }
                <td>
                    @if (!order.IsCompleted)
                    {
                        <form method="post">
                            <button asp-page-handler="ConfirmOrder" asp-route-id="@order.Id" asp-route-otId="@Model.ActiveOrderTypeId" class="confirm-btn">Confirm</button>
                        </form>
                    }
                </td>
                <td>@order.CreatedDate!.GetValueOrDefault().ToShortDateString()</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@order.Id">
                        <img class="edit-icon" src="~/images/edit-icon.png">
                    </a>
                </td>
                <td>
                    <form method="post">
                        <button asp-page-handler="Delete" asp-route-id="@order.Id" asp-route-otId="@Model.ActiveOrderTypeId" class="delete-btn">
                            <img class="delete-icon" src="~/images/delete-icon.png">
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Orders.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Orders.HasNextPage ? "disabled" : "";
}

<div class="pagination-group">
    <a asp-page="List"
        asp-route-pageIndex="@(Model.Orders.PageIndex - 1)"
        asp-route-id="@Model.ActiveOrderTypeId"
        class="pagination btn @prevDisabled">
        Previous
    </a>
    @for(int i = 1; i <= Model.TotalPages; i++)
    {
        if (Model.PageIndex == i)
        {
            <a asp-page="List" 
                asp-route-pageIndex="@i" 
                asp-route-id="@Model.ActiveOrderTypeId" 
                class="pagination btn disabled">@i
            </a>
        }
        else
        {   
            <a asp-page="List" 
                asp-route-pageIndex="@i" 
                asp-route-id="@Model.ActiveOrderTypeId" 
                class="pagination btn">@i
            </a>
        }
    }
    <a asp-page="List" 
        asp-route-pageIndex="@(Model.Orders.PageIndex + 1)"
        asp-route-id="@Model.ActiveOrderTypeId"
        class="pagination btn @nextDisabled">
        Next
    </a>
</div>